    <div class="container-fluid" *ngIf="peliculaForm">
        <div class="col-lg-6 offset-lg-3">
        <header class="text-center my-4">
            <h3><strong>Editar Película</strong></h3>
        </header>
        <section class="container p-4 border rounded shadow">
            <form [formGroup]="peliculaForm" (ngSubmit)="actualizarPelicula()">
            <div class="row">
                <div class="col-12">
                <div class="form-group mx-sm-3 mb-4">
                    <label for="nombrePelicula">Nombre de Película</label>
                    <input id="nombrePelicula" class="form-control" formControlName="nombrePelicula" placeholder="Nombre de la película">
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('nombrePelicula')!.hasError('required') && peliculaForm.get('nombrePelicula')!.touched">
                    Campo requerido
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('nombrePelicula')!.hasError('minlength')">
                    El contenido es muy corto.
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-4">
                    <label for="duracion">Duración</label>
                    <input id="duracion" class="form-control" formControlName="duracion" maxlength="30" placeholder="Duración">
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('duracion')!.hasError('required') && peliculaForm.get('duracion')!.touched">
                    Campo requerido
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('duracion')!.hasError('minlength')">
                    El contenido es muy corto.
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-4">
                    <label for="genero">Género</label>
                    <input id="genero" class="form-control" formControlName="genero" maxlength="30" placeholder="Género">
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('genero')!.hasError('required') && peliculaForm.get('genero')!.touched">
                    Campo requerido
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('genero')!.hasError('minlength')">
                    El contenido es muy corto.
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-4">
                    <label for="fechaEstreno">Fecha de Estreno</label>
                    <input id="fechaEstreno" class="form-control" formControlName="fechaEstreno" maxlength="10" placeholder="Fecha de estreno">
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('fechaEstreno')!.hasError('required') && peliculaForm.get('fechaEstreno')!.touched">
                    Campo requerido
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('fechaEstreno')!.hasError('minlength')">
                    El contenido es muy corto.
                    </div>
                </div>
                <div class="form-group mx-sm-3 mb-4">
                    <label for="pais">País</label>
                    <input id="pais" class="form-control" formControlName="pais" maxlength="100" placeholder="País">
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('pais')!.hasError('required') && peliculaForm.get('pais')!.touched">
                    Campo requerido
                    </div>
                    <div class="alert alert-danger mt-2" *ngIf="peliculaForm.get('pais')!.hasError('minlength')">
                    El contenido es muy corto.
                    </div>
                </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary m-2" [disabled]="!peliculaForm.valid">Actualizar</button>
                <button type="button" class="btn btn-danger m-2" (click)="eliminarPelicula()">Eliminar Película</button>
            </div>
            </form>
        </section>
        </div>
    </div>
    